@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в  SpeachWriter </h1>
   <a asp-controller="Speach" asp-action="ToWrite">Нажмите и говорите в микрофон</a>
</div>
